body
{
   background-color: black;
   top: 800px;
   background-image: url(https://static1.squarespace.com/static/562565c8e4b0be0be094cf2f/t/5661d08ae4b0c41f3431b29f/1449250954299/piano-751911_640.jpg?format=1500w);
   background-size: 4580px;
   background-repeat: no-repeat;
   margin-top: 0;
}

#background2{
   z-index: -1;
   position: absolute;
   left: -60px;
   opacity: 0.8;
}

#container{
   width: 1024px;
   height: 2300px;
   margin: auto;
   border: 1px solid gold;
   border-top: none;
   border-bottom: none;
   position: relative;
   top: 0;
   background-color: transparent;
}
h1{
   font-size: 15em;
   font-weight: 300;
   position:absolute;
   left: 390px;
   top: -100px;
   letter-spacing: 5px;
   color: rgba(255,215,0,0.3);
}
h2{
   font-size: 4em;
   font-weight: 700;
   position: absolute;
   left: 550px;
   top: 180px;
   letter-spacing: 5px;
   color: rgba(255,215,0,0.6);
}

main
#container2{
   width: 280px;
   height: 430px;
   margin: auto;
   position: absolute;
   top: 400px;
   left: 30px;
   background-color: rgba(127,127,127,0.6);
}

ol{
   list-style-type: none;
   position: absolute;
   top: 20px;
   left: -10px;
   }

.song{
   font-size: 1.2em;
   letter-spacing: 0.1px;
   word-spacing: 1px;
   color: white;
   line-height: 25px;

}
.player{
   font-size: 14px;
   font-family: 'Spectral', serif;
   font-weight: 400;
   word-spacing: 1px;
   line-height: 7px;
   color: black;
   text-align: right;
}

#container3{
   width: 610px;
   height: 780px;
   margin: auto;
   border: 1px solid gold;
   position: absolute;
   top: 400px;
   left: 360px;
   background-color: rgba(250,250,250,0.6);
}
.heading{
   font-family: 'Spectral', serif;
   font-weight: 400;
   font-size: 3em;
   color: white;
   position: absolute;
   left: 30px;
   top: 15px;
}
.reviews{
   position: absolute;
   top: 110px;
   font-family: 'Spectral', serif;
   font-weight: 400;
   padding: 0 40px;
   text-indent: 50px;
}

#container4{
   width: 280px;
   height: 510px;
   position: absolute;
   top: 890px;
   left: 30px;
   border: 1px solid gold;
   border-bottom: none;
   background-color: rgba(220,220,220,0.7);
}
.reviews2-1{
   font-family: 'Spectral';
   font-weight: 400;
   font-size: 15px;
   padding: 10px 10px 0px 20px;
   text-indent: 10px;
}

#container5{
   width: 964px;
   height: 800px;
   position: absolute;
   top: 1400px;
   left: 30px;
   border: 1px solid gold;
   background-color: rgba(220,220,220,0.7);
}
.heading2{
   font-size: 1.6em;
}
.reviews2-2{
   font-family: 'Spectral';
   font-weight: 400;
   font-size: 16px;
   padding: 0 20px;
}

#container6{
   width: 610px;
   height: 150px;
   background-color: black;
   opacity: 0.7;
   position: absolute;
   top: 1220px;
   left: 360px;
   z-index: -1;
}

.quote{
   font-size: 14px;
   color: white;
   color: gold;
   width: 550px;
   padding: 0 30px;
   position:absolute;
   top: 1250px;
   right: 65px;
   text-align: right;
   text-align-last: right;
   font-family: 'Spectral', serif;
   font-weight: 300;

}

footer{
   color: white;
   position: absolute;
   bottom: 30px;
   left: 420px;
}
